* {
    /* border: solid red; */
    box-sizing: border-box;
}

table, th, td {
    border-style: solid;
}

th, td {
    padding: 5px;
    text-align: center;
}

table {
    visibility: hidden;
    border-collapse: collapse;
}

h1, h2, h3 {
    text-align: center;
}

select {
    display: block;
    height: 30px;
    margin: 4px 0 0 0;
    border-radius: 4px;
    border: solid 1px;
    padding: 5px;
    color: dimgray;
}

select:focus {
    outline: 2px solid #003049;
    color: black;
}

input {
    display: block;
    height: 30px;
    margin: 4px 0 0 0;
    border-radius: 4px;
    border: solid 1px;
    padding: 5px;
    color: dimgray;
}

input:focus {
    outline: 2px solid #003049;
}

label {
    font-size: smaller;
}

#inputFields {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    margin: auto;
}

#inputFields > * {
    margin: 5px;
}

#app {
    display: grid;
    justify-content: center;
    row-gap: 10px;
    grid-template-columns: auto;
    width: 75%;
    margin: auto;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 12px 12px 16px;
    gap: 12px;

    height: 30px;

    background: #003049;
    color: white;
    border-radius: 8px;
    cursor: pointer;

}

#locationButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8px;
}

#activityAnswers {
    display: flex;
    flex-direction: row;
}

.activityContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: start;
    width: 100%;

    /* border: solid red; */
}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

#kiteAnswer {
    visibility: hidden;
}

#tanningAnswer {
    visibility: hidden;
}

#kiteBtn {
    width: fit-content;
    height: fit-content;
}

#kite {
    display: none;
}

#tanningBtn {
    width: fit-content;
    height: fit-content;
}

#tanning {
    display: none;    
}

#swimming {
    display: none;
}

#swimBtn {
    width: fit-content;
    height: fit-content;
}


